*env.sh
generate.sh

coverage.txt
.idea/
.gitmessage.txt
.vscode/

.DS_Store

*debug*
google.json
node_modules/*
.env
schema.graphql
dump.rdb
exports/*
SIL*
speedy-lattice.json
service_account.json
sample-*
scripts/*
CLAUDE.*